.container {
    height: 371px;
    width: 1440px;
    display: flex;
    flex-direction: column;
}

.header_background {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 303px;
    background: url("/src/images/header_pic.png");
    background-size: cover;
    justify-content: end;
}

.button {
    margin-top: 36px;
    margin-right: 89px;
}

.navigation {
    height: 68px;
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
    margin-left: 90px;
}

.list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 0;
    /*width: 766px;*/
    column-gap: 34px;
    color: #103A58;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.list_item {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    text-decoration: none;
    height: 28px;
    align-items: center;


}

.current_link {
    display: flex;
    justify-content: center;
    width: 107px;
    height: 28px;
    text-align: center;
    align-items: center;
    border-radius: 12px;
    padding: 0;
    text-decoration: none;
    background: linear-gradient(180deg, #5FC9F3 0%, #55ABF5 100%);
;
}

.container_mobile {
    width: 375px;
    display: flex;
    flex-direction: column;
}

.header_background_mobile {
    display: flex;
    width: 375px;
    height: 178px;
    background: url("/src/images/header_pic_mobile.png") center;
    background-size: contain;
}

.buttons_mobile {
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}